.sizeing {
  margin-left: 40px;
  margin-right: 40px;
}
.color {
  background-color: rgb(122, 112, 102);
  color: chartreuse;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.datails-btn-space{
    margin-top: 100px;
}
